[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "bundle/vcl"]
	path = bundle/vcl
	url = git://github.com/smerrill/vcl-vim-plugin.git
[submodule "bundle/vim-flavored-markdown"]
	path = bundle/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
