[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "bundle/vcl"]
	path = bundle/vcl
	url = git://github.com/smerrill/vcl-vim-plugin.git
[submodule "bundle/vim-flavored-markdown"]
	path = bundle/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "bundle/vim-gradle"]
	path = bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "bundle/vim-groovy"]
	path = bundle/vim-groovy
	url = https://github.com/vim-scripts/groovy.vim.git
[submodule "bundle/vim-addon-local-vimrc"]
	path = bundle/vim-addon-local-vimrc
	url = https://github.com/MarcWeber/vim-addon-local-vimrc.git
[submodule "bundle/butane.vim"]
	path = bundle/butane.vim
	url = https://github.com/Soares/butane.vim.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "bundle/racer"]
	path = bundle/racer
	url = https://github.com/phildawes/racer.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
